.nopadding{
    padding: 0px;
}
.btn_font{
    font-size: 30px;
}
#Calc{
    padding: 10px;
    font-size: 30px;
    height: 50px;
}
.box{
    margin-top: 50px;
    padding: 30px;
    border: 4px solid gray;
    clear: both;
}
